*, *:not(.fa)::after, *:not(.fa)::before {
    box-sizing: border-box;
    color:$darkGrey;
    font-family: 'Open Sans', Arial;
    font-weight:400;
    margin:0;
    padding:0;
    font-size:14px;
}

.banner {

    &--fr {background-image: url('./banner.png')}
    &--en {background-image: url('./banner-en.png')}

    background-size: cover;
    height: 150px;
    width: $mainWidth;
    margin-top: 20px;

}

.link-bar {
    position:fixed;
    top:20px;
    left:20px;
    display: flex;
    flex-flow:column wrap;
    border-radius: 10px;
    min-width: 10vw;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
                                     0 2px 2px rgba(0,0,0,0.20), 
                                     0 4px 4px rgba(0,0,0,0.15), 
                                     0 8px 8px rgba(0,0,0,0.10),
                                     0 16px 16px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #FFFFFF -webkit-gradient(linear, left top, right bottom, from(#8dabc9), to(#FFFFFF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #FFFFFF -moz-linear-gradient(top, #42566A, #FFFFFF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#42566A, endColorstr=#FFFFFF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#42566A, endColorstr=#42566A)" no-repeat;



    &__section {
        display: flex;
        flex-flow:column wrap;
        margin:10px;

    }

    &__link {
        text-decoration: none;
        padding: 4px;
        color:black;
        transition: all .1s linear;
        font-weight: bold;

        &:hover {
            background-color: #8ab8e5;
        }
    }

    &__title {
        font-size:20px;
        color:black;
        font-weight: bold;
        padding:12px;
    }
}

body {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(247,247,247);
}

footer {
    width: $mainWidth;
    margin-bottom: 30px;
    padding: 0 20px;
    
    .footer__title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer__body {
        line-height: 22px;
        margin-bottom: 10px;
    }

    .footer__link {
        line-height: 22px;
        margin-bottom: 3px;
        font-weight:700;
        color:$darkBlue;
        
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


}

.mandatory {color:$red}

.multiple {
    display: flex;
    width:80px;

    .custom-select--telephone {

        width:65px;
        margin-right: 20px;

        .box-value {
            
            max-width:65px;
            
    
            span {
                padding-left: 5px;
                font-size:18px;
            }
    
            .button {
                background-color: white !important;
        
                .fas {
                    color:black;
                    transition: transform .25s ease-in-out; 
                    font-weight: bolder;
                }
            
                &:hover {
                    color: black;
                    cursor:pointer;
            
                    .fas {
                        color:inherit;
                    }
                }
            }
        }

        ul {
            width:65px;
            
            li {
                font-size:20px;
            }
        }
    
        input {
            width:auto;
        }
    }

    .input-container {
        max-width:50px;

        input {
            max-width:365px;
        }
    }



    
}