


input {
    height:35px;
}

input.invalid {
    border: 1px solid $lightGrey;
    outline:none;
}

.form-group.subfilter {
    display: none;
}



form {
    background-color: white;
    border:1px solid $lightGrey;
    margin: 40px 0;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: $mainWidth;

    .fa-check-circle, .fa-times-circle {
            &:not(.fa-times-circle) {color:green;}
            &:not(.fa-check-circle) {color:$red;}
            right:-20px;
            font-size:20px;
            position:absolute;
            display: none;
    }

    *.valid {

        .fa-check-circle {
            display: block
        }

        & ~ .fa-check-circle {
            display: block;
            top:37px;
        }
    }

    *.invalid {
        .fa-times-circle {
            display: block
        }

        & ~ .fa-times-circle {
            display: block;
            top:37px;
        }
    }



    .form-part {

        margin: 25px 10px;

        h2 {
            text-transform: uppercase;
            font-size:22px;
            font-weight: 700;
            color:$darkBlue;
            margin-bottom: 25px;
        }
    }

    .form-group {

        display: flex;
        flex-flow: column wrap;
        margin-bottom: 30px;
        position: relative;
        

        label {
            color:black; 
            font-weight: bold;
            margin-bottom:10px;
        }

        .box{position:relative;}



        textarea, input[type=email], input[type=text], .box-value {
            color:black;
            width:$widthInputs;
            border: 1px solid $lightGrey;
            border-radius: 3px;
            &:not(.box-value) { padding:5px; margin-bottom:5px;}
            
            &::placeholder {
                font-style: italic;
            }

            &.valid:not(.box-value--no-border) {
                border-bottom: 1.5px solid green;
                & +.error-message {display:none;}
            }

            &.invalid{
                border-bottom: 1.5px solid $red;
                & +.error-message {display:block;}
            }

        }      
        
    }

    .error-message {
        font-size:12px;
        color: $red;
        display: none;

        position:absolute;
    } 
    
    
    .button-container {
        width:100%;
        display: flex;
        justify-content: center;
        margin: 30px;
    }

    .submit-button {
        
        display: block;
        align-self: center;
        text-align: center;
        cursor:not-allowed;
        width:170px;
        font-size:18px;
        
        padding: 15px 25px;
        font-weight: 700;
        border-radius: 5px;
        transition: all .2s ease-out;

        background-image: linear-gradient(to top, $lightGrey, $lightGrey);
        color: rgba(43,44,56, .5);

        &.active {
            background-image: linear-gradient(to top, darken(rgb(246, 201, 75), 10%), rgb(246, 201, 75));
            color: rgb(43,44,56);
            cursor:pointer;
        }
        
        &.active:hover  {
            transform:translateY(-4px);
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                                     0 2px 2px rgba(0,0,0,0.12), 
                                     0 4px 4px rgba(0,0,0,0.16), 
                                     0 8px 8px rgba(0,0,0,0.20);
        }

        .fa {
            font-size:19px;
            color: rgba(43,44,56, .5);
            margin-left: 5px;
        }

        &.active .fa {
            font-size:19px;
            color:rgb(43,44,56);
            margin-left: 5px;
        }

    }

    .message {
        font-size:12px;
        color:rgb(153, 153, 153)
    }
}



.custom-select {

    ul {
        list-style-type: none;
        border: 1px solid $lightGrey;
        width:$widthInputs;
        visibility:hidden;
        position: absolute;
        overflow-y: scroll;
        max-height:0px;
        transition: all .35s ease-out;
        box-shadow: 5px 5px 5px 1px rgb(224, 224, 224);
        z-index:100;
        
        li {
            padding:10px;
            color:rgb(52, 103, 174);
            background-color: rgb(247,247,247);
            cursor:pointer;
    
            &:hover {
                background-color: #e9edf2;
            }
    
            &.selected {
                background-color:white;
            }
        }

        &.long {
            scrollbar-color: $darkBlue #e9edf2;
            scrollbar-width: 12px;
        }

        &.long::-webkit-scrollbar {
            width: 12px;
        }

        &.long::-webkit-scrollbar-track {
            background-color: #e9edf2; 
        }

        &.long::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $darkBlue;
        }
    }
    
    .box-value {
        width:$widthInputs;
        padding-left: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:35px;
        cursor: pointer;
        
        .button {
            width:35px;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $lightGrey;
            transition: background-color .15s linear;
    
            .fas {
                color:black;
                transition: transform .25s ease-in-out; 
                font-weight: bolder;
            }
    
            &:hover {
                background-color: rgb(245, 197, 68);
                color:white;
                cursor:pointer;
    
                .fas {
                    color:inherit;
                }
            }
        }
    
        &.expand + ul {
            max-height:300px;
            visibility: visible;
        }
    
        &.expand .button {
    
            background-color: rgb(245, 197, 68);
            color:white;
            cursor:pointer;
    
            .fas {
                // transform:rotate(180deg);
                color:inherit;
            }
        }
    }
    
}








.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
    max-width: $widthInputs;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }