@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');


$mainWidth: 1100px;
$widthInputs: 450px;
$darkBlue:rgb(30, 65, 118);
$darkGrey: rgb(82,84,87);
$lightGrey: rgb(224,224,224);
$red: rgb(197, 45, 45);


@mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content
    }
}