*, *:not(.fa)::after, *:not(.fa)::before {
    box-sizing: border-box;
    color:black;
    font-family: 'Open Sans', Arial;
    font-weight:400;
    margin:0;
    padding:0;
    font-size:14px;
}



body {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(247,247,247);
}

footer {
    width: $mainWidth;
    margin-bottom: 30px;
    padding: 0 20px;
    
    .footer__title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .footer__body {
        line-height: 22px;
        margin-bottom: 10px;
    }

    .footer__link {
        line-height: 22px;
        margin-bottom: 3px;
        font-weight:700;
        color:$darkBlue;
        
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }


}

.mandatory {color:$red}

.multiple {
    display: flex;
    width:80px;

    .custom-select--telephone {

        width:65px;
        margin-right: 20px;

        .box-value {
            
            max-width:65px;
            
    
            span {
                padding-left: 5px;
                font-size:18px;
            }
    
            .button {
                background-color: white !important;
        
                .fas {
                    color:black;
                    transition: transform .25s ease-in-out; 
                    font-weight: bolder;
                }
            
                &:hover {
                    color: black;
                    cursor:pointer;
            
                    .fas {
                        color:inherit;
                    }
                }
            }
        }

        ul {
            width:65px;
            
            li {
                font-size:20px;
            }
        }
    
        input {
            width:auto;
        }
    }

    .input-container {
        max-width:50px;

        input {
            max-width:365px;
        }
    }



    
}